.slotContainer{text-align:center}
.buttonContainer{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.buttonContainer button{max-width:300px;width:300px;cursor:pointer;display:inline-block; height: 55px;border-radius: 25px;background-color: #e6b012;color: #21293b;border: 1px solid #e6b012;box-shadow: 0px 10px 25px 5px rgba(0, 0, 0, 0.2);transition: all .5s ease-out 0s;}
